*{
    background-color: black;
    color: seashell;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    z-index: 10;
}

.logo img{
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
}

.menu-list{
    list-style-type: none;
    text-decoration:underline;
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-right: 15px;
}

.list-item{
    margin: 0px 10px;
    color: gray;
}

.our-mission-container {
    text-align: center;
}

.text-container{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: block;
}

.our-mission-container .text-container{
    position: absolute;
    top: 50%;
    left: 0%;
}

.our-mission-container img{
    width: 1200px;
    height: 700px;
}


.tea-month-container{
    margin-top: 40px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    height: auto;
}

.figure-container{
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.img-tea-month{
    width: 300px;
    height: 200px;
    margin: 10px 10px;
}

.banner{
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url("resources/img/img-locations-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-top{
    font-size: 43px;
    font-weight: bold;
    text-align: center;
}

.box-container{
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.box{
    height: 300px;
    padding: 20px;
    margin-bottom:auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}

